@import "variables";

body {
    @include font;
        &.theme-1 {
            background-color: $very-dark-desaturated-blue-main;
        }
        &.theme-2 {
            background-color: $light-gray;
        }
        &.theme-3 {
            background-color: $very-dark-violet-main;
        }
}
