@import "variables";

body {
    @include font;
        &.theme-1 {
            background-color: $very-dark-desaturated-blue-main;
            .logo {
                .content {
                    font-weight: bold;
                    color: $white;
                }
            }
            .theme-selector {
                .headline {
                    .title {
                        color: $white;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: bold;
                    }
                }
                .themes {
                    .title {
                        padding-left: 10px;
                        padding-right: 10px;
                        span {
                            color: $white;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    .buttons {
                        background-color: $very-dark-desaturated-blue-toggle;
                        border-radius: 15px;
                        padding: 5px;
                        .theme-button {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            cursor: pointer;
                            background-color: $very-dark-desaturated-blue-toggle;
                            &.active {
                                background-color: $red;
                            }
                        }
                    }
                }
            }
            .display {
                background-color: $very-dark-desaturated-blue-screen;
                color: $white;
                cursor: pointer;
            }
            .keypad {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                background-color: $very-dark-desaturated-blue-toggle;
                button {
                    background-color: $light-grayish-orange;
                    color: $very-dark-grayish-blue;
                    font-weight: bold;
                    box-shadow: 0 5px $grayish-orange;
                    border-radius: 10px;
                    border: none;
                    padding: 18px 10px 10px 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: $white;
                        box-shadow: 0 5px $grayish-orange;
                        transform: scale(0.95);
                        color: $very-dark-grayish-blue;
                    }
                    &.del {
                        font-size: 28px;
                        &:hover {
                            background-color: $desaturated-dark-blue;
                            box-shadow: 0 5px $desaturated-dark-blue-shadow;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.reset {
                        font-size: 28px;
                        &:hover {
                            background-color: $desaturated-dark-blue;
                            box-shadow: 0 5px $desaturated-dark-blue-shadow;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.equal {
                        font-size: 28px;
                        &:hover {
                            background-color: $red;
                            box-shadow: 0 5px $dark-red;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                }
            }
        }
        &.theme-2 {
            background-color: $light-gray;
            .logo {
                .content {
                    font-weight: bold;
                    color: $very-dark-grayish-yellow;
                }
            }
            .theme-selector {
                .headline {
                    .title {
                        color:  $very-dark-grayish-yellow;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: bold;
                    }
                }
                .themes {
                    .title {
                        padding-left: 10px;
                        padding-right: 10px;
                        span {
                            color: $very-dark-grayish-yellow;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    .buttons {
                        background-color: $grayish-red;
                        border-radius: 15px;
                        padding: 5px;
                        .theme-button {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            cursor: pointer;
                            background-color: $grayish-red;
                            &.active {
                                background-color: $orange;
                            }
                        }
                    }
                }
            }
            .display {
                background-color: $very-light-gray;
                color: $very-dark-grayish-yellow;
                cursor: pointer;
            }
            .keypad {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                background-color: $grayish-red;
                button {
                    background-color: $light-grayish-yellow;
                    color: $very-dark-grayish-yellow;
                    font-weight: bold;
                    box-shadow: 0 5px $dark-grayish-orange;
                    border-radius: 10px;
                    border: none;
                    padding: 18px 10px 10px 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: $white;
                        box-shadow: 0 5px $grayish-orange;
                        transform: scale(0.95);
                        color: $very-dark-grayish-blue;
                    }
                    &.del {
                        font-size: 28px;
                        &:hover {
                            background-color: $dark-moderate-cyan;
                            box-shadow: 0 5px $very-dark-cyan;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.reset {
                        font-size: 28px;
                        &:hover {
                            background-color: $dark-moderate-cyan;
                            box-shadow: 0 5px $very-dark-cyan;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.equal {
                        font-size: 28px;
                        &:hover {
                            background-color: $orange;
                            box-shadow: 0 5px $dark-orange;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                }
            }
        }
        &.theme-3 {
            background-color: $very-dark-violet-main;
            .logo {
                .content {
                    font-weight: bold;
                    color: $light-yellow;
                }
            }
            .theme-selector {
                .headline {
                    .title {
                        color:  $light-yellow;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: bold;
                    }
                }
                .themes {
                    .title {
                        padding-left: 10px;
                        padding-right: 10px;
                        span {
                            color: $light-yellow;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    .buttons {
                        background-color: $very-dark-violet;
                        border-radius: 15px;
                        padding: 5px;
                        .theme-button {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            cursor: pointer;
                            background-color: $very-dark-violet;
                            &.active {
                                background-color: $pure-cyan;
                            }
                        }
                    }
                }
            }
            .display {
                background-color: $very-dark-violet;
                color: $light-yellow;
                cursor: pointer;
            }
            .keypad {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                background-color: $very-dark-violet;
                button {
                    background-color: $very-dark-violet-keys;
                    color: $light-yellow;
                    font-weight: bold;
                    box-shadow: 0 5px $dark-magenta;
                    border-radius: 10px;
                    border: none;
                    padding: 18px 10px 10px 10px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: $dark-violet;
                        box-shadow: 0 5px $dark-magenta;
                        transform: scale(0.95);
                        color: $light-yellow;
                    }
                    &.del {
                        font-size: 28px;
                        &:hover {
                            background-color: $vivid-magenta;
                            box-shadow: 0 5px $dark-magenta;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.reset {
                        font-size: 28px;
                        &:hover {
                            background-color: $vivid-magenta;
                            box-shadow: 0 5px $dark-magenta;
                            transform: scale(0.95);
                            color: $white;
                        }
                    }
                    &.equal {
                        font-size: 28px;
                        &:hover {
                            background-color: $soft-cyan;
                            box-shadow: 0 5px $pure-cyan;
                            transform: scale(0.95);
                            color: $very-dark-blue;
                        }
                    }
                }
            }
        }
}

@media (max-width: 425px) {
    body {
        &.theme-1 {
            .keypad {
                grid-gap: 10px;
                button {
                    margin-bottom: 5px;
                }
            }
        }
        &.theme-2 {
            .keypad {
                grid-gap: 10px;
                button {
                    margin-bottom: 5px;
                }
            }
        }
        &.theme-3 {
            .keypad {
                grid-gap: 10px;
                button {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    body {
        &.theme-1 {
            .keypad {
                grid-gap: 5px;
                button {
                    margin-bottom: 5px;
                    font-size: 20px;
                    &.del {
                        font-size: 20px;
                    }
                    &.reset {
                        font-size: 20px;
                    }
                    &.equal {
                        font-size: 20px;
                    }
                }
            }
        }
        &.theme-2 {
            .keypad {
                grid-gap: 5px;
                button {
                    margin-bottom: 5px;
                    font-size: 20px;
                    &.del {
                        font-size: 20px;
                    }
                    &.reset {
                        font-size: 20px;
                    }
                    &.equal {
                        font-size: 20px;
                    }
                }
            }
        }
        &.theme-3 {
            .keypad {
                grid-gap: 5px;
                button {
                    margin-bottom: 5px;
                    font-size: 20px;
                    &.del {
                        font-size: 20px;
                    }
                    &.reset {
                        font-size: 20px;
                    }
                    &.equal {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}